* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #161a23;
}

.main {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
}

.navigation {
  position: relative;
  width: 40px;
  height: 40px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}

.navigation span {
  position: absolute;
  width: 7px;
  height: 7px;
  background-color: #fff;
  transform: translate(calc(14px * var(--x)), calc(14px * var(--y)));
  transition: transform 0.5s, width 0.5s, height 0.5s, background-color 0.5s;
  transition-delay: calc(0.1s * var(--i));
  display: flex;
  justify-content: center;
  align-items: center;
}

.active span {
  width: 45px;
  height: 45px;
  transform: translate(calc(60px * var(--x)), calc(60px * var(--y)));
  background-color: #1f2536;
}

.close {
  position: absolute;
  width: 7px;
  height: 7px;
  background-color: #fff;
  transition: 0.5s;
  transition-delay: 0.4s;
  pointer-events: none;
}

.main .navigation.active ~ .close {
  width: 40px;
  height: 40px;
  pointer-events: initial;
  transition-delay: 0.8s;
  background-color: #2dfc52;
  display: flex;
  justify-content: center;
  align-items: center;
}

span ion-icon {
  transition: 0.5s;
  font-size: 0em;
  color: #fff;
}

span:hover ion-icon {
  color: #2dfc52;
  filter: drop-shadow(0 0 2px #2dfc52) drop-shadow(0 0 5px #2dfc52) drop-shadow(0 0 15px #2dfc52);
}

.active span ion-icon {
  font-size: 1.35em;
}

.close ion-icon {
  font-size: 2em;
  scale: 0px;
  color: #10131c;
  transition: 0.5s;
}

.main .navigation.active ~ .close ion-icon {
  scale: 1;
  transition-delay: 1s;
}
